truelife/src/main/mule/truelife.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0be57a81-5a12-4a36-bc67-0fda33eb5624" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3353d7dd-4a5f-4d5d-a815-793a91751f82" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}"/>
	</db:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="86ee425a-e1a8-44a7-92de-0c3e01f47d8c" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<configuration-properties doc:name="Configuration properties" doc:id="0f62c72f-bdfc-4a99-9077-1e2dc14acb40" file="config.yaml" />
	<flow name="truelifeFlow" doc:id="6eec45cf-0d77-4e41-98f2-1c71eb1db9d8" >
		<http:listener doc:name="Listener" doc:id="3ce4b23d-0ad1-4b45-93d5-b83b776d8861" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<db:select doc:id="6e5c0875-b94e-49ba-b6e1-56a45549c3a7" config-ref="Database_Config">
			<db:sql >select * from university</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9d2fb1e1-8abb-49be-a455-5a0b10556424" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Uid:payload.Uid,
	Name:payload.Name,
	country:payload.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
